/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  font-family: 'Poiret One', cursive;
  background: #CCCCB2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CCCCB2 , #757519); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CCCCB2 , #757519); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main_header {
  width: 100%;
  margin: 0 auto;
  background: #CCCCB2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CCCCB2 , #757519); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CCCCB2 , #757519); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  #logo {
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 30px;
      text-decoration: none;
      color: black;
    }
  }
  #buttons {
    float: right;
    a {
      line-height: 80px;
      padding: .5em 1em;
      background: dimgrey;
      border-radius: 0.5em;
      text-decoration: none;
      color: aliceblue;
      font-weight: 100;
    }
  }
}

#posts {
  padding: 2em 5%;
  border-radius: .5em;
  .post {
    padding: 1em 0;
    margin: 1em 0;
    border-bottom: 1px solid;
    .title {
      margin: 0;
      a {
        color: indigo;
        text-decoration: none;
        font-weight: 100;
        font-size: 2.25rem;
      }
    }
    .date {
      margin-top: .25rem;
      font-size: 1.15rem;
    }
  }
}

#post_content {
  padding: 2em 5%;
  border-radius: .5em;
  a {
    color: indigo;
  }
  #comments {
    h3 {
      font-size: 25px;
    }
    .comment {
      border-bottom: .1px solid;
      padding-bottom: 5px;
      .content {
        width: 70%;
        float: left;
      }
      .buttons {
        width: 30%;
        float: left;
        font-size: .8em;
        text-align: right;
        padding-top: 1.5em;
        a {
          font-size: 1em;
          border-radius: 0.6em;
          padding: .2em 1em;
          text-decoration: none;
          border: 1px solid;
          line-height: 3.15;
          margin-right: 2%;
        }
      }

      .comment_content {
        margin: 0;
        padding: 0;
        color: antiquewhite;
      }
      .comment_author {
        margin-top: .5em;
        font-size: 0.95em;
        font-weight: 700;
      }
    }
    input.string.optional {
      width: 100%;
      min-height: 70px;
      border: 1px solid;
      border-radius: .5em;
      margin: 1em 0;
    }

    input[type='submit'] {
      background: floralwhite;
      border: none;
      font-weight: 100;
      padding: .5em 1em;
      border-radius: .2em;
    }
  }

  h1 {
    color: indigo;
    font-size: 3em;
    font-weight: 100;
    margin-top: 0;
  }

  h2 {
    font-size: 25px;
    font-weight: 100;
    line-height: 1.5px;
  }
}
.button {
  font-size: 1em;
  border-radius: 0.6em;
  padding: .2em 1em;
  text-decoration: none;
  border: 1px solid;
  line-height: 3.15;
  margin-right: 2%;
}